.home {
    padding: 20px;
    text-align: center;
    background-color: #f0f8ff;
}

.home h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff4500;
}

.home h1 {
    font-weight: 900;
    color: #ff3b3b;
}

.home p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #2f4f4f;
}

.chartli {
    display: flex;
}

.song-info {
    display: flex;
    padding: 10px;
    justify-content: left;

    .rank {
        padding: 10px;
    }
}

img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.chart-section {
    margin-top: 20px;
    background-color: #98dcf754;
    margin-left: -1px;

    &:nth-child(1) {

        border: 1px solid #8d8d8d7c;
    }

    &:nth-child(2) {

        border: 1px solid #8d8d8d7c;
    }

    &:nth-child(3) {

        border: 1px solid #8d8d8d7c;
    }

    &:nth-child(4) {

        border: 1px solid #8d8d8d7c;
    }

    &:nth-child(5) {
        border: 1px solid #8d8d8d7c;
    }

}

.chart-section h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #4b0082;
}

.chart-section ul {
    list-style: none;
    padding: 0;
}

.chart-section li {
    font-size: 1.2em;
    margin-bottom: 5px;
}